@import '../../styles/variables.css';

.private-profile {
  & .private-profile-hero {
    background-image: linear-gradient(to bottom, #edf6f8, #fff);
    padding: 12rem 0;
    min-height: 50vh;
  }
}

.private-profile-card {
  text-align: center;

  & .profile-picture {
    border-radius: 50%;
    height: 7.5rem;
    width: 7.5rem;
  }

  & .private-profile-info {
    color: var(--cool-grey);
    font-size: 2.25rem;

    & .user-name {
      color: var(--slate);
      font-weight: normal;
    }
  }

  & .private-profile-question {
    color: var(--slate);
    font-size: 1.5rem;
  }
}
