@import '../../styles/variables.css';

.profile-page {
  & .profile-overview {
    background-color: #fff;
    padding: 1.5rem 0;

    & .trip-grid {
      margin: 0;
      padding: 0;
      list-style: none;

      & .trip-item {
        display: inline-block;
        height: 2rem;
        width: 2rem;
        margin: 0 0.5rem 0.5rem 0;
      }
    }
  }

  & .profile-contents {
    padding: 3rem 0;

    & .friends-heading,
    & .trips-heading {
      color: var(--slate);
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 1em;
    }
  }

  & .trip-col {
    padding-bottom: 2rem;
  }

  & .friend-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    & .friend-item {
      padding: 0;

      /* little dirty hack to make these 20% smaller */
      transform: scale(0.8);
      transform-origin: center left;
      width: 125%;
    }
  }
}
