@import '../../styles/variables.css';

.profile-page {
  & .profile-message-bar {
    padding: 2rem 0;

    &.-error {
      background-color: var(--reddish);
    }

    &.-info {
      background-color: var(--gunmetal);
    }

    & .message-bar-content {
      color: #fff;
      font-size: 1.25rem;
      margin: 0;
    }
  }

  & .download-app-bar {
    background-color: color(var(--reddish) alpha(80%));
    box-shadow:
      0 1px 2px 0 rgba(17, 17, 17, 0.15),
      0 2px 4px 2px rgba(155, 177, 183, 0.3);
    padding: 1rem 0;

    & p {
      margin: 0;
    }

    & .download-app-message {
      color: #fff;
      font-size: 1.25rem;
    }

    & .download-app-link {
      background-color: #fff;
      background-image: linear-gradient(109deg, #fff, #eef4f6);
      border-radius: 0.1875em;
      box-shadow:
        0 5px 10px 0 rgba(18, 85, 97, 0.25),
        0 1px 2px 0 rgba(59, 114, 124, 0.1);
      color: var(--slate);
      display: inline-block;
      font-size: 1rem;
      padding: 0.625rem 1.5rem;
    }
  }

  & .profile-overview {
    background-color: #fff;
    padding: 1.5rem 0;
  }

  & .profile-contents {
    padding: 3rem 0;

    & .friends-heading,
    & .trips-heading {
      color: var(--slate);
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 1em;
    }
  }

  & .trip-col {
    padding-bottom: 2rem;
  }

  & .friend-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    & .friend-item {
      padding: 0;

      /* little dirty hack to make these 20% smaller */
      transform: scale(0.8);
      transform-origin: center left;
      width: 125%;
    }
  }
}

.regular-modal-overlay {
  align-content: center;
  align-items: center;
  background-color: color(#000 alpha(60%));
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 40;
}

.regular-modal-content {
  background-color: var(--pale-grey);
  border-radius: 4px;
  flex-grow: 0;
  max-height: 100%;
  max-width: 520px;
  overflow: auto;

  & > .modal-header {
    background-color: #fff;
    padding: 1.5rem;

    & > .modal-title {
      color: var(--slate);
      font-size: 1.875rem;
      margin: 0;
    }
  }

  & > .modal-body {
    padding: 1.5rem 2.5rem;
  }
}

.modal-lead-message {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.82;
  text-align: center;
}

.btn-link {
  background-color: transparent;
  border-width: 0;
  color: inherit;
  cursor: pointer;
  display: inline;
  font-weight: 400;
  margin: 0;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}
