@import '../../styles/variables.css';

.profile-page {
  & .profile-loading-bar {
    background-color: var(--gunmetal);
    padding: 2rem 0;

    & .loading-message {
      color: #fff;
      font-size: 1.25rem;
      margin: 0;
    }
  }

  & .download-app-bar {
    background-color: color(var(--reddish) alpha(80%));
    padding: 1rem 0;

    & p {
      margin: 0;
    }

    & .download-app-message {
      color: #fff;
      font-size: 1.25rem;
    }

    & .download-app-link {
      background-color: #fff;
      background-image: linear-gradient(109deg, #fff, #eef4f6);
      border-radius: 0.1875em;
      box-shadow:
        0 5px 10px 0 rgba(18, 85, 97, 0.25),
        0 1px 2px 0 rgba(59, 114, 124, 0.1);
      color: var(--slate);
      display: inline-block;
      font-size: 1rem;
      padding: 0.625rem 1.5rem;
    }
  }

  & .profile-overview {
    background-color: #fff;
    padding: 1.5rem 0;

    & .trip-grid {
      margin: 0;
      padding: 0;
      list-style: none;

      & .trip-item {
        cursor: pointer;
        display: inline-block;
        height: 2rem;
        margin: 0 0.5rem 0.5rem 0;
        position: relative;
        width: 2rem;

        &:hover .small-trip-box {
          opacity: 1;
          transform: scale(1);
        }

        & .small-trip-box {
          height: 300%;
          left: -100%;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          top: -100%;
          transform: scale(0.6);
          transition: all 150ms ease-in-out 0s;
          width: 300%;
          z-index: 10;
        }
      }
    }
  }

  & .profile-contents {
    padding: 3rem 0;

    & .friends-heading,
    & .trips-heading {
      color: var(--slate);
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 1em;
    }
  }

  & .trip-col {
    padding-bottom: 2rem;
  }

  & .friend-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    & .friend-item {
      padding: 0;

      /* little dirty hack to make these 20% smaller */
      transform: scale(0.8);
      transform-origin: center left;
      width: 125%;
    }
  }
}
