@import '../../styles/variables.css';

.trip-card-list {
  border-radius: 4px;
  border: 2px dashed transparent;

  &.-loading {
    border: 2px dashed color(var(--slate) alpha(40%));
  }

  &.-empty {
    border: 2px solid color(var(--slate) alpha(40%));
  }

  & .trip-col {
    padding-bottom: 2rem;
  }

  & .box-message {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30rem;
    pointer-events: none;

    & .box-title {
      color: var(--gunmetal);
      font-size: 1.5rem;
    }

    & .box-tagline {
      color: color(var(--gunmetal) alpha(50%));
      font-size: 1.25rem;
    }
  }
}
