@import '../../styles/variables.css';

.home-page {
  & .single-input-form {
    margin: 0 auto;
  }

  & .search-hero {
    background-color: var(--azure);
    box-shadow:
      0 1px 2px 0 rgba(17, 17, 17, 0.15),
      0 2px 4px 2px rgba(155, 177, 183, 0.3);
    padding: 3.5rem 0;

    & .search-hero-title {
      color: #fff;
      font-weight: normal;
      margin-bottom: 1.75rem;
    }
  }

  & .top-producers {
    padding-bottom: 3rem;

    & .top-producers-heading {
      color: var(--slate);
      font-weight: normal;
      padding: 2rem;
      text-align: center;
    }
  }
}
