@import '../../styles/variables.css';

.profile-row {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  &.-odd {
    background-color: #fff;
  }

  &.-even {
    background-color: #fff;
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(255, 255, 255, 0) 2.5rem,
        rgba(255, 255, 255, 0) calc(100% - 2.5rem),
        rgba(0, 0, 0, 0.1)
      );
  }

  & .divider {
    background-color: var(--slate);
    height: 3px;
    margin: 2.5rem auto;
    max-width: 136px;

    @media (--griddity-md-viewport) {
      background-color: transparent;
      margin: 1.625rem auto;
    }
  }
}
