@import '../../styles/variables.css';

.profile-row {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  &.-odd {
    background-color: #fff;
  }

  &.-even {
    background-color: #fff;
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(255, 255, 255, 0) 2.5rem,
        rgba(255, 255, 255, 0) calc(100% - 2.5rem),
        rgba(0, 0, 0, 0.1)
      );
  }

  & .profile-rank {
    font-size: 1rem;
    text-align: center;

    & .rank {
      display: inline-block;
      background-color: #fff;
      box-shadow: 0 0.25em 1.25em 0 rgba(0, 0, 0, 0.21);
      color: var(--slate);
      line-height: 2.25;
      border-radius: 50%;
      font-weight: 700;
      height: 2.25em;
      width: 2.25em;
    }

    @media (--griddity-md-viewport) {
      line-height: 7.5;
    }
  }

  & .divider {
    background-color: var(--slate);
    height: 3px;
    margin: 2.5rem auto;
    max-width: 136px;

    @media (--griddity-md-viewport) {
      background-color: transparent;
      margin: 1.625rem auto;
    }
  }
}
