@import '../../styles/variables.css';

.trips-timeline {
  & .trip-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    mask-image: linear-gradient(to right, #000, #000 calc(100% - 3rem), rgba(0, 0, 0, 0));
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;

    & .trip-item {
      flex: 1 0 auto;
      display: inline-block;
      white-space: normal;

      & + .trip-item {
        margin-left: 2rem;
      }
    }
  }

  & .bullet-controls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    mask-image: linear-gradient(to right, #000, #000 calc(100% - 3rem), rgba(0, 0, 0, 0));
    padding: 1rem 0;
    text-align: center;
    white-space: nowrap;

    & .bullet-item {
      flex: 0 0 auto;
      display: inline-block;
      white-space: normal;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      & .bullet {
        display: inline-block;
        background-color: var(--slate);
        border-radius: 50%;
        color: transparent;
        height: 0.5rem;
        line-height: 0.5;
        opacity: 0.5;
        overflow: hidden;
        width: 0.5rem;

        &.-active {
          opacity: 1;
        }
      }
    }
  }
}
