@import '../../styles/variables.css';

.danger-button {
  border-radius: 0.25rem;
  border: 2px solid var(--reddish);
  color: var(--reddish);
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: -0.0125em;
  padding: 0.5rem;
  transition: all 150ms ease-in-out 0s;

  &:hover {
    border-color: color(var(--reddish) lightness(-6%));
    color: color(var(--reddish) lightness(-6%));
    text-decoration: none;
  }

  &.-fill {
    background-color: var(--reddish);
    color: #fff;

    &:hover {
      background-color: color(var(--reddish) lightness(-6%));
      color: #fff;
    }
  }
}

.profile-card {
  width: 100%;

  & .picture {
    display: inline-block;
    border-radius: 50%;
    height: 7.5rem;
    width: 7.5rem;
  }

  & .profile-links-col {
    color: color(var(--slate) alpha(50%));

    /* flex-box + ellipsis hack */
    flex: 1 1 auto;
    min-width: 0;
  }

  & .heading {
    color: var(--slate);
    display: inline;
    font-size: 2rem;
    font-weight: 300;
  }

  & .small {
    color: color(var(--slate) alpha(50%));
    display: inline;
    font-size: 1rem;
    margin-left: 1rem;
  }

  & .danger-button + .danger-button {
    margin-left: 0.625rem;
  }
}
